.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-baby {
	font-size:(464.983/10)*1rem;
	width:(464.892/464.983)*1em;
}
.icon-bolt {
	font-size:(479/10)*1rem;
	width:(479/479)*1em;
}
