.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-chevron-left {
	font-size: calc((14 / 10) * 1rem);
	width: calc((9 / 14) * 1em);
}
.icon-chevron-right {
	font-size: calc((12 / 10) * 1rem);
	width: calc((8 / 12) * 1em);
}
