include ../mixins/_mixins

<!DOCTYPE html>
html(lang="en")
	head
		include ../components/_head/_head

	body
		include ../components/_menu-dropdown/_menu-dropdown

		include ../components/_header/_header

		main.main
			block main

		include ../components/_footer/_footer

		include ../components/_scripts/_scripts
