// libs

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="js/libs.min.js")

// scripts

script(src="js/common.min.js")
div(style="display: none"): include ../../../img/symbol/sprite.svg