// menu dropdown start

.menu-dropdown

	.menu-dropdown__inner(data-value="start")

		.screen.screen--start
			.screen__item.screen--trigger(data-category="screen-one")
				span trigger
				span #[+svg('chevron-right')]
			.screen__item.screen--trigger(data-category="screen-two")
				span trigger
				span #[+svg('chevron-right')]
			.screen__item
				a.screen__link(href="blog.html") menu item
			.screen__item.screen--trigger(data-category="screen-three")
				span trigger
				span #[+svg('chevron-right')]
			.screen__item
				a.screen__link(href="contacts.html") menu item
			.screen__item.screen--trigger(data-category="screen-four")
				span trigger
				span #[+svg('chevron-right')]
			.screen__item.screen--trigger(data-category="screen-five")
				span trigger
				span #[+svg('chevron-right')]

	.menu-dropdown__inner(data-value="screen-one")

		.screen.screen--sub
			.screen__heading
				h6.screen__back #[+svg('chevron-left')] #[span Title]
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item

	.menu-dropdown__inner(data-value="screen-two")

		.screen.screen--sub
			.screen__heading
				h6.screen__back #[+svg('chevron-left')] #[span Title]
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item

	.menu-dropdown__inner(data-value="screen-three")

		.screen.screen--sub
			.screen__heading
				h6.screen__back #[+svg('chevron-left')] #[span Title]
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item

	.menu-dropdown__inner(data-value="screen-four")

		.screen.screen--sub
			.screen__heading
				h6.screen__back #[+svg('chevron-left')] #[span Title]
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item

	.menu-dropdown__inner(data-value="screen-five")

		.screen.screen--sub
			.screen__heading
				h6.screen__back #[+svg('chevron-left')] #[span Title]
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item
			.screen__item
				a.screen__link(href="javascript:void(0);") menu item

// menu dropdown end