include ../mixins/_mixins

<!DOCTYPE html>
html(lang="en")
	head

		include ../blocks/_head/_head

	body

		include ../blocks/_menu-dropdown/_menu-dropdown

		include ../blocks/_header/_header

		main.main

			block main

		include ../blocks/_footer/_footer

		include ../blocks/_scripts/_scripts